body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#random{
    /* BOX MODEL */
    width: 100%;
    margin: 0 auto;
    padding: 350px 0;
    line-height: 0;
    color: white;
    text-align: center;
    /* ENHANCEMENT */
    background-image: url('../assets/hero_one.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
#random h1{
    color:#de041c;
    font-size: 5vw;
    font-weight: 800;
}
#random h2{
    font-size: 3vw;   
    font-weight: bold;
}

.text{
    padding-right: 60px;
}
p{
    font-size: 1.2vw;
}
.red{
    color: #de041c;
}
.red-box{
    height: 80px;
    background-color: #de041c;
}
.video{
    width: 50%;
    margin: -280px auto -260px auto;
    padding: 0;
    z-index: 1;
}

.bottom{
    height: 700px;

}

.collage{
    width: 50%;
    padding-bottom: 5px;
    background-color:white;
    float: left;
}

.collageOne img{
    margin:10px 10px 10px 0px;
    width: 410px;
    height: 450px;
    float: left;
}
.collageTwo img{
    margin: 265px 50px 10px 0px;
    width: 370px;
    float: right;
}

.collageThree img{
    margin: 0px 10px 10px 0px;
    width: 120px;
    height:240px;
    float: left;
}

.collageFour img{
    width: 280px;
    height: 240px;
    margin: 0px 0px 10px 0px;
    float:left;
}
.collageFive img{
    margin: 0px 10px 10px 10px;
    height: 158px;
    float:left;
}
.assessment{
    width:50%;
    padding: 280px 0 28px 0;
    background-color:white;
    float: right;
}

.assessment h1{
    border-bottom: 5px solid black;
    font-size: 3vw;
    line-height: 0;  
    padding-bottom: 50px;
}

.assessment h2{
    font-size: 2vw;
    line-height: 0;  
}

.assessment p{
    padding-right: 180px;
    font-size: 1vw;
}