@import 'variables'

// iframe
//   position: relative
//   left: 20%
.video
  margin-left: 10px
#hero
  width: 100%
  height: 90vh
  background-image: url('/assets/HERO_1.jpg')
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
.box
  background-color: $Red
  height: 50px

.title
	width: 50%
	margin: auto
	position: relative
	top: 35%

h1
	color: $Red
	text-align: center
	font-family: 'Montserrat'
	margin: 0
	font-size: 50px
	text-transform: uppercase

h2
	color: $White
	text-align: center
	font-family: $Font
	margin: 0
	font-size: 30px
	text-transform: uppercase

h3
	color: $White
	text-align: center
	font-family: $Font
	font-size: 12px

.top
	width: 571px
	height: 427px
	background-image: url('/assets/COLLAGE_IMAGE_1.jpg')
	margin: 10px 0px
.left
	width: 177px
	height: 289px
	background-image: url('/assets/COLLAGE_IMAGE_5.jpg')
.right
	width: 384px
	height: 289px
	background-image: url('/assets/COLLAGE_IMAGE_4.jpg')
.bottom
		display: flex
		justify-content: space-between
		width: 571px
.cont-right
	height: 726px
	width: 100%
	background-image: url('/assets/SPLASH_WATERMARK.png')
	background-repeat: no-repeat
	background-position: right
	display: flex
.cont
	display: flex
.second-left
	display: flex
	flex-direction: column
	position: relative
	top: -10%
.welcome
  width: 55%
  margin-top: 50px
#second-top
	width: 384px
	height: 288px
	margin: 10px 50px 160px 10px
#second-bottom
	margin-left: 10px
	width: 237px
	height: 178px
.second-right
	position: relative
	top: 40%
.middle
  display: flex

h4, h5, p
	font-family: $Font

h5
	margin: 0
	text-transform: uppercase
h4
	font-size: 50px
	color: $Red
	margin: 0
	text-transform: uppercase
p
	color: $Black
	font-size: 12px
	line-height: 12px
#third
	color: $Red
	font-weight: bolder
	color: $Black

hr
  height: 3px
  background-color: black
