
.title {
	line-height: .2 ;
	text-transform: uppercase;
	letter-spacing: -4px;
}

#main-title {
	font-size: 5.5rem;
	margin-bottom: 1px;
}

.red-title {
		font-weight: 900;
		color: #de041c;

}

#subtitle {
	color: #fff;
	font-size: 3.5rem;
}

.small-title {
		font-weight: 900;

}

#welcome-title-p {
	color: #fff;
	max-width: 40%;
	margin-left: 30.5%;
	font-weight: 500;
}